version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build: ../spandana-bhattarai
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@server-postgres-1:5432/app_db
    depends_on:
      - postgres
    command: sh -c "npx drizzle-kit push && npm start"

volumes:
  postgres_data:
